* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
div {
    border: 1px solid red;
}

header{
    display: flex; 
    flex-direction: row;
    gap: 8px;
    padding: 4px 16px;
    background-color: #1f2937; 
}

.right-links {
    margin-left: auto; 
    display: flex; 
    flex-direction: row;
    gap: 24px;
}
.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    color: white; 
}

.db-back {
    background-color: #1f2937; 
}

.white-back {
    background-color: white;
    color: black;
}

.grey-back {
    background-color: #efe7eb;
    color: black;
}

footer {
    background-color: white;
    color: black;
    margin-top: auto;
}
